*{
    background-color: black;
    color: white;
    /*border: 2px solid black;*/
    text-align: center;
    box-sizing: border-box;
    font-family: 'Bruno Ace SC';
    background-image: url(../img/Background.png);
    background-attachment:fixed;
    
}
nav{
    background-image: url(../img/Banner-base.png);
    background-size:contain;
    background-attachment:fixed;
    padding: 2rem;
}
nav a{
    display: inline-block;
    background: none;
    padding:0 5% 0rem 5%;
    color: red;
    text-decoration: none;
}
nav a:hover{
    color: yellow;
    font-size: large;
}

#textos-header{
    padding: 5%;
}


#h2Contacto{

    margin-top: 13rem;
    height: 10px;
    width: auto;
    text-align: center;
   
 }


.container{
    
    width: 100vb;
    height: 95vh;
    background-color:white;
    display: flex;
  
    align-items: center;
    justify-content: center;
  
  }

 

label{
        margin-bottom: 7px;
      
}



.form-control{
    color: white;
}

.input-group-text{
    color: white;
    width: 50%;
}
 #imput_text{
    color: white;
 }
::placeholder{
    color: white;
}
 .btn-outline-secondary{
    color: white;
 }