*{
    background-color: black;
    color: white;
    /*border: 2px solid black;*/
    text-align: center;
    box-sizing: border-box;
    font-family: 'Bruno Ace SC';
    background-image: url(../img/Background.png);
    background-attachment:fixed;
    
}
nav{
    background-image: url(../img/Banner-base.png);
    background-size:contain;
    background-attachment:fixed;
    padding: 2rem;
}
nav a{
    display: inline-block;
    background: none;
    padding:0 5% 0rem 5%;
    color: red;
    text-decoration: none;
}
nav a:hover{
    color: yellow;
    font-size: large;
}

#textos-header{
    padding: 5%;
}

#imput_text{
    color: white;
}

